# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore VS Code settings
.vscode/

# Ignore Docker-related files
*.pid